.carousel-item > .row {
    display: flex;
  }
  .card {
    flex: 1;
    margin: 0 10px;
  }


  .custom-button{
    background-color: #E8A652;
    color :aliceblue;
    font-weight: bold;
    border-radius: 10px;
    
  }
  .droper{
    background-color:#283B8A ;
    color:aliceblue
  }